<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
       <!-- Font Icon -->
       <!-- <link rel="stylesheet" href="/assets/form/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

       <!-- Main css -->
       <!-- <link rel="stylesheet" href="/assets/form/css/style.css"> -->

    <!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/price_rangs.css">
        <link rel="stylesheet" href="/assets/css/slicknav.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/nice-select.css">
        <link rel="stylesheet" href="/assets/css/style.css">
    <title>Employee Register Form</title>
</head>
<body>
      <!-- Preloader Start -->
      <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <%- include("./partials/header") %>
    <main>
       
        <div class="main">
            
            <!-- Sign up form -->
            <section class="signup">
                <div class="container">
                    <div class="signup-content m-4 row align-items-center border rounded shadow-lg">
                        <div class="signup-form p-5 col-7">
                            <h2 class="form-title">Sign up</h2>
                            <% if(typeof error != 'undefined') {%>
                              <p class = 'alert alert-danger'><%=error%></p>
                              <% }%>
                            <form action="/employee/signup" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Name</label>
                                    <input minlength="4" required type="text" name='name' class="form-control" id="inputEmail4">
                                  </div>
                                <div class="col-md-6">
                                  <label for="inputEmail4" class="form-label">Email</label>
                                  <input required type="email" name='email' class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputPassword4" class="form-label">Password</label>
                                  <input minlength="8" required type="password" name='password' class="form-control" id="inputPassword4">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">Gender</label>
                                    <select required name='gender' id="inputState" class="form-select">
                                      <option value="MALE" >Male</option>
                                      <option value = 'FEMALE'>Female</option>
                                    </select>
                                  </div>
                                  <div class="col-md-2">
                                    <label for="inputZip" class="form-label">age</label>
                                    <input required type="number" name='age' min="0" class="form-control" id="inputZip">
                                  </div>
                                <div class="col-10">
                                  <label for="inputAddress" class="form-label">Address</label>
                                  <input required type="text" class="form-control" name = 'address' id="inputAddress" placeholder="eg. Ethiopia, Addis Ababa">
                                </div>
                                <div class="col-md-6 my-4">
                                    <label for="inputState" class="form-label">Education Level</label>
                                    <select required name="educationalLevel" id="inputState" class="form-select">
                                     
                                      <option>Primary</option>
                                      <option>Secondary</option>
                                      <option>preparatory</option>
                                      <option>Deploma</option>
                                      <option>Bsc.</option>
                                      <option>Msc.</option>
                                      <option>Phd</option>
                                      <option>Doctrate</option>
                                      <option>Professor</option>
                                      <option >Other</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6 my-4">
                                    <label for="inputState" class="form-label">Field of Study</label>
                                    <select required name='fieldOfStudy' id="inputState" class="form-select">
                                     
                                      <option >Engineering</option>
                                      <option>Medicine</option>
                                      <option>Healthe Officer</option>
                                      <option>Nursing</option>
                                      <option>Computer Science</option>
                                      <option>Information Technology</option>
                                      <option>Accounting</option>
                                      <option>Management</option>
                                      <option >Other</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6">
                                    <label for="inputState" class="form-label">Experience Level</label>
                                    <select required name = 'experienceLevel' id="inputState" class="form-select">
                                      <option >0 Years</option>
                                      <option>1-2 Years</option>
                                      <option>3-4 Years</option>
                                      <option>+5 Years</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-12 my-2">
                                      
                                      <label for="company-website-tw d-block"><h5> Upload Your Resume </h5><p  style="color: rgb(255, 0, 0);"> Only pdf format supported</p></label> <br>
                                      <label class="btn-dark btn-sm ">
                                        <input required  style="" type="file" name='resume'  id='company-website-tw '>
                                      </label>
                                    </div>
                                    <div class="form-group col-12 my-2">
                                      
                                        <label for="company-website-tw d-block"><h5> Upload Your Educational Qualification Documents<p style="color: rgb(255, 0, 0);">Only pdf format supported</p></h5></label> <br>
                                        <label class="btn-dark btn-sm ">
                                          <input required  type="file" name='doc'  id='company-website-tw '>
                                        </label>
                                      </div>
                                <!-- <div class="col-12">
                                  <label for="inputAddress2" class="form-label">Address 2</label>
                                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div> -->
                                <!-- <div class="col-md-6">
                                  <label for="inputCity" class="form-label">City</label>
                                  <input type="text" class="form-control" id="inputCity">
                                </div> -->
                                <!-- <div class="col-md-4">
                                  <label for="inputState" class="form-label">State</label>
                                  <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                                </div> -->
                                <!-- <div class="col-md-2">
                                  <label for="inputZip" class="form-label">Zip</label>
                                  <input type="text" class="form-control" id="inputZip">
                                </div>
                                <div class="col-12">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      Check me out
                                    </label>
                                  </div>
                                </div> -->
                                <div class="col-12">
                                  <button type="submit" class="btn btn-primary">Sign up</button>
                                </div>
                              </form>
                            
                        </div>
                        <div class="signup-image p-5 col-5">
                            <figure><img src="/assets/form/images/signup-image.jpg" alt="sing up image"></figure>
                            <a href=""> <p style="text-align: center;">I am already member</p> </a>
                            
                        </div>
                    </div>
                </div>
            </section>
    
           
    
        </div>
    </main>
    <%- include('./partials/footer') %>

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, opper, Bootstrap -->
		<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mbile Menu -->
        <script src="/assets/js/jquery.slicknav.min.js"></script>
		<!-- Jquery Sick , Owl-Carousel Range -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/price_rangs.js"></script>
		<!-- One Page Animated-HeadLin -->
        <script src="/assets/js/wow.min.js"></script>
		<script src="/assets/js/animated.headline.js"></script>
        <script src="/assets/js/jquery.magnific-popup.js"></script>
		<!-- Scrollup nice-select, sticky -->
        <script src="/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/js/jquery.nice-select.min.js"></script>
		<script src="/assets/js/jquery.sticky.js"></script>
    
        <!-- contact s -->
        <script src="/assets/js/contact.js"></script>
        <script src="/assets/js/jquery.form.js"></script>
        <script src="/assets/js/jquery.validate.min.js"></script>
        <script src="/assets/js/mail-script.js"></script>
        <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
		<!-- Jquery Pugins, main Jquery -->	
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>
           <!-- JS -->
    <script src="/assets/form/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/form/js/main.js"></script>
        
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/d0a738a2b7.js" crossorigin="anonymous"></script>

</body>
</html>