<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
       <!-- Font Icon -->
       <!-- <link rel="stylesheet" href="/assets/form/fonts/material-icon/css/material-design-iconic-font.min.css"> -->

       <!-- Main css -->
       <!-- <link rel="stylesheet" href="/assets/form/css/style.css"> -->

    <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/price_rangs.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/widgEditor.css">
    <title>Employee Register Form</title>
    <script type="text/javascript" src="assets/js/widgEditor.js"></script>
</head>
<body>
      <!-- Preloader Start -->
      <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <%- include("./partials/header") %>
    <main>
       
        <div class="main">
            
            <!-- Sign up form -->
            <section class="signup">
                <div class="container">
                    <div class="signup-content m-4 row align-items-center border rounded shadow-lg">
                        <div class="signup-form p-5 col-7">
                            <h2 class="form-title">Job Post</h2>
                            <form class="row g-3">
                                <div class="col-md-12 my-2">
                                    <label for="inputEmail4" class="form-label">Position Title</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                  </div>
                                  <div class="col-md-4">
                                    <label for="inputZip" class="form-label">Number of Vacanccy</label>
                                    <input type="number" min="1" class="form-control" id="inputZip">
                                  </div>
                                <div class="col-8">
                                  <label for="inputAddress" class="form-label">Job Location</label>
                                  <input type="text" class="form-control" id="inputAddress" placeholder="eg. Ethiopia, Addis Ababa">
                                </div>
                                <div class="col-md-6 my-4">
                                    <label for="inputState" class="form-label">Required Educational Level</label>
                                    <select id="inputState" class="form-select">
                                      <option >Ilitrate</option>
                                      <option>Primary</option>
                                      <option>Secondary</option>
                                      <option >preparatory</option>
                                      <option>Deploma</option>
                                      <option>Bsc.</option>
                                      <option>Msc.</option>
                                      <option>Phd</option>
                                      <option>Doctrate</option>
                                      <option>Professor</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6 my-4">
                                    <label for="inputState" class="form-label">Required Field of Study</label>
                                    <select id="inputState" class="form-select">
                                        <option >Select</option>
                                      <option >Engineering</option>
                                      <option>Medicine</option>
                                      <option>Healthe Officer</option>
                                      <option>Nursing</option>
                                      <option>Computer Science</option>
                                      <option>Information Technology</option>
                                      <option>Accounting</option>
                                      <option>Management</option>
                                    </select>
                                  </div>
                                  <div class="col-md-6 my-3">
                                    <label for="inputState" class="form-label">Experience Level</label>
                                    <select id="inputState" class="form-select">
                                      <option selected>0 Years</option>
                                      <option>1-2 Years</option>
                                      <option>3-4 Years</option>
                                      <option>+5 Years</option>
                                    </select>
                                  </div>

                                    <div class="col-12">
                                                <fieldset>
                                            <label for="noise">
                                               <h4>
                                                Job Description
                                               </h4>
                                            </label>
                                            <textarea id="noise" name="noise" class="widgEditor nothing">&lt;p&gt;widgEditor &lt;strong&gt;automatically&lt;/strong&gt; integrates the content that was in the textarea!&lt;/p&gt;</textarea>
                                        </fieldset>
                                        <fieldset class="submit">
                                        </fieldset>
                                    </div>
                                
                                  
                             
                              
                                <div class="col-12">
                                  <button type="submit" class="btn btn-primary">Post Job</button>
                                </div>
                              </form>
                            
                        </div>
                        <div class="signup-image p-5 col-5">
                            <figure><img src="/assets/form/images/signup-image.jpg" alt="sing up image"></figure>
                          
                            
                        </div>
                    </div>
                </div>
            </section>
    
           
    
        </div>
    </main>
    <%- include('./partials/footer') %>

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, opper, Bootstrap -->
		<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mbile Menu -->
        <script src="/assets/js/jquery.slicknav.min.js"></script>
		<!-- Jquery Sick , Owl-Carousel Range -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/price_rangs.js"></script>
		<!-- One Page Animated-HeadLin -->
        <script src="/assets/js/wow.min.js"></script>
		<script src="/assets/js/animated.headline.js"></script>
        <script src="/assets/js/jquery.magnific-popup.js"></script>
		<!-- Scrollup nice-select, sticky -->
        <script src="/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/js/jquery.nice-select.min.js"></script>
		<script src="/assets/js/jquery.sticky.js"></script>
    
        <!-- contact s -->
        <script src="/assets/js/contact.js"></script>
        <script src="/assets/js/jquery.form.js"></script>
        <script src="/assets/js/jquery.validate.min.js"></script>
        <script src="/assets/js/mail-script.js"></script>
        <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
		<!-- Jquery Pugins, main Jquery -->	
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>
           <!-- JS -->
    <script src="/assets/form/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/form/js/main.js"></script>
        
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/d0a738a2b7.js" crossorigin="anonymous"></script>

</body>
</html>